/* This defines styles and classes used in the book */
body {
  margin: 5%;
  text-align: justify;
  font-size: medium;
}
code {
  font-family: monospace;
  font-size: smaller;
  color: Black;
  display: block;
  border: solid;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: #EAEAEA;
  width: auto;

}

h1 {
  text-align: left;
  color: Blue;
}
h2 {
  text-align: left;
  color: Blue;
}
h3 {
  text-align: left;
  color: Blue;
}
h4 {
  text-align: left;
  color: Blue;
}
h5 {
  text-align: left;
  color: Blue;
}
h6 {
  text-align: left;
  color: Blue;
}
ol.toc {
  padding: 0;
  margin-left: 1em;
}
ol.toc li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}
  
table, th, td {
  border: 1px solid black;
}

img {
  margin-left: auto;
  margin-right: auto;
}

